In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import sqlpassword
import time
import psycopg2

In [2]:
file = "Resources/1950-2019_torn.csv"
tornado_data = pd.read_csv(file)

In [3]:
pd.set_option('display.max_rows', 5000)

In [4]:
list(tornado_data.columns)

['om',
 'yr',
 'mo',
 'dy',
 'date',
 'time',
 'tz',
 'st',
 'stf',
 'stn',
 'mag',
 'inj',
 'fat',
 'loss',
 'closs',
 'slat',
 'slon',
 'elat',
 'elon',
 'len',
 'wid',
 'ns',
 'sn',
 'sg',
 'f1',
 'f2',
 'f3',
 'f4',
 'fc']

In [5]:
tornado_df = tornado_data[[
    "om",
    "yr",
    "mo",
    "st",
    "mag",
    "inj",
    "fat",
    "loss",
    "slat",
    "slon",
    "len",
    "wid",
    "ns",
    "sn",
    "sg"
]]

In [6]:
tornado_df = tornado_df.rename(columns={
    "om":"tornado_num",
    "yr":"year",
    "mo":"month",
    "st":"state",
    "mag":"magnitude",
    "inj":"injury",
    "fat":"fatalities",
    "loss":"loss",
    "slat":"latitude",
    "slon":"longitude",
    "len":"miles_traveled",
    "wid":"width_yards",
    "ns":"num_states_affected",
    "sn":"state_num",
    "sg":"segment_num"
})

In [7]:
tornado_df = tornado_df.loc[tornado_df["state_num"] != 0]
tornado_df.state_num.min()

1

In [8]:
# Check that all loss values are integers by filtered years
less1996 = tornado_df.loc[(tornado_df["year"] < 1996)]
less1996_year_loss = less1996[["year", "loss"]]
less1996_year_loss.loss.apply(float.is_integer).all()

True

In [9]:
tornado_df[["year","loss"]].describe()

               year          loss
count  65724.000000  6.572400e+04
mean    1990.299175  6.979226e+04
std       18.851562  6.786282e+06
min     1950.000000  0.000000e+00
25%     1975.000000  0.000000e+00
50%     1993.000000  1.000000e-01
75%     2006.000000  4.000000e+00
max     2019.000000  1.550000e+09

In [10]:
less1996[["year","loss"]].describe()

               year          loss
count  35677.000000  35677.000000
mean    1975.875186      2.773524
std       12.633464      2.078864
min     1950.000000      0.000000
25%     1966.000000      0.000000
50%     1977.000000      3.000000
75%     1987.000000      4.000000
max     1995.000000      8.000000

In [11]:
_1996_2015 = tornado_df.loc[(tornado_df["year"] >= 1996)&(tornado_df["year"] <= 2015)]
_1996_2015[["year","loss"]].describe()

               year          loss
count  24939.000000  24939.000000
mean    2005.335258      1.274281
std        5.589723     31.344328
min     1996.000000      0.000000
25%     2001.000000      0.000000
50%     2005.000000      0.000000
75%     2010.000000      0.050000
max     2015.000000   2800.100000

In [12]:
greater2016 = tornado_df.loc[(tornado_df["year"] >= 2016)]
greater2016[["year","loss"]].describe()

              year          loss
count  5108.000000  5.108000e+03
mean   2017.632733  8.979827e+05
std       1.104755  2.432960e+07
min    2016.000000  0.000000e+00
25%    2017.000000  0.000000e+00
50%    2018.000000  2.000000e+02
75%    2019.000000  5.000000e+04
max    2019.000000  1.550000e+09

In [13]:
less1996.year.count()+_1996_2015.year.count()+greater2016.year.count()

65724

In [14]:
_1996_2015["loss"] = _1996_2015["loss"] * 1000000
_1996_2015.max()

<ipython-input-14-dae226134a72>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _1996_2015["loss"] = _1996_2015["loss"] * 1000000

tornado_num                613494
year                         2015
month                          12
state                          WY
magnitude                       5
injury                       1500
fatalities                    158
loss                   2.8001e+09
latitude                    61.02
longitude                   -64.9
miles_traveled             136.62
width_yards                  4576
num_states_affected             3
state_num                       1
segment_num                     2
dtype: object

In [15]:
_1996_2015.sort_values("loss", ascending=False)

,tornado_num,year,month,state,magnitude,injury,fatalities,loss,latitude,longitude,miles_traveled,width_yards,num_states_affected,state_num,segment_num
56503,296616,2011,5,MO,5,1150,158,2.800100e+09,37.0524,-94.5932,21.62,1600,1,1,1
56249,314625,2011,4,AL,4,1500,64,2.450000e+09,33.0297,-87.9350,80.68,2600,1,1,1
58474,451537,2013,5,OK,5,212,24,2.000000e+09,35.2840,-97.6280,13.85,1900,1,1,1
56223,309488,2011,4,AL,5,145,72,1.290000e+09,34.1043,-88.1479,118.63,2200,2,1,2
40287,1147,1999,5,OK,5,583,36,1.000000e+09,35.1300,-97.8500,37.00,1430,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40677,1312,1999,6,WI,0,0,0,0.000000e+00,45.1700,-92.7500,0.50,50,1,1,1
49751,785,2006,8,FL,1,0,0,0.000000e+00,29.9200,-82.4200,5.50,100,1,1,1
49752,786,2006,8,ND,0,0,0,0.000000e+00,45.9500,-99.3700,0.10,40,1,1,1
49753,787,2006,8,MN,1,0,0,0.000000e+00,48.9200,-95.4800,5.00,50,1,1,1
51951,739,2008,5,MO,0,0,0,0.000000e+00,37.4700,-94.5900,0.03,20,1,1,1

In [16]:
_1996_2019 = pd.concat([_1996_2015,greater2016], ignore_index=True)
_1996_2019[["year","loss"]].describe()

               year          loss
count  30047.000000  3.004700e+04
mean    2007.425833  1.210310e+06
std        6.890545  3.026671e+07
min     1996.000000  0.000000e+00
25%     2002.000000  0.000000e+00
50%     2007.000000  0.000000e+00
75%     2013.000000  5.000000e+04
max     2019.000000  2.800100e+09

In [17]:
bins_1996_2019 = _1996_2019.copy()

In [18]:
# bin values >1996 & assign to 1996 damage value scale
bins = [0,1,50,500,5000,50000,500000,5000000,50000000,500000000,5000000000]
labels = [0,1,2,3,4,5,6,7,8,9]
bins_1996_2019["loss"] = pd.cut(bins_1996_2019["loss"],include_lowest=True,right=False, bins=bins, labels=labels)

In [19]:
tornado_clean = pd.concat([bins_1996_2019,less1996], ignore_index=True)
tornado_clean.isnull().any()

tornado_num            False
year                   False
month                  False
state                  False
magnitude              False
injury                 False
fatalities             False
loss                   False
latitude               False
longitude              False
miles_traveled         False
width_yards            False
num_states_affected    False
state_num              False
segment_num            False
dtype: bool

In [20]:
tornado_clean = tornado_clean.loc[(tornado_clean["magnitude"] >= 0)]
tornado_clean.magnitude.min()

0

In [21]:
tornado_clean.reset_index(drop="index")

,tornado_num,year,month,state,magnitude,injury,fatalities,loss,latitude,longitude,miles_traveled,width_yards,num_states_affected,state_num,segment_num
0,1,1996,1,FL,0,0,0,4.0,28.08,-80.60,0.5,35,1,1,1
1,859,1996,1,SC,0,0,0,4.0,33.50,-80.87,0.5,50,1,1,1
2,860,1996,1,SC,0,0,0,0.0,33.50,-80.85,0.3,50,1,1,1
3,4,1996,1,FL,1,9,0,6.0,25.68,-80.42,7.0,40,1,1,1
4,5,1996,1,FL,0,0,0,5.0,26.00,-80.23,0.4,10,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65421,1231,1995,12,LA,0,0,0,0.0,31.47,-93.67,0.1,30,2,1,2
65422,1231,1995,12,TX,0,0,0,0.0,31.43,-93.75,0.1,30,2,1,2
65423,1232,1995,12,LA,1,0,0,3.0,30.60,-90.23,0.5,10,1,1,1
65424,1233,1995,12,FL,2,1,1,4.0,30.68,-84.68,0.3,50,1,1,1
65425,1234,1995,12,FL,1,0,0,4.0,30.67,-84.42,0.5,30,1,1,1

In [22]:
unbinned_df = _1996_2019[[
    "tornado_num",
    "year",
    "state",
    "magnitude",
    "injury",
    "fatalities",
    "loss",  
]]
unbinned_df.loc[(unbinned_df.loss == 2019)]
unbinned_df.loss.sum()

36366178600.0

In [23]:
# tornado_clean.to_csv("Resources/tornado_clean.csv", encoding="utf-8", index = False)

In [23]:
#CREATE ENGINE
engine = create_engine(f"postgres://postgres:{sqlpassword}@localhost:5432/tornado_db")

In [24]:
#LOAD DATA INTO POSTGRESQL
unbinned_df.to_sql(name='losses', con=engine, if_exists='replace', index=True)

In [25]:
with engine.connect() as con:
    con.execute('ALTER TABLE losses ADD PRIMARY KEY (index);')

In [26]:
#TEST/CALL ENGINE TABLE NAMES
engine.table_names()

['losses']

In [27]:
#CREATE ENGINE
engine = create_engine(f"postgres://postgres:{sqlpassword}@localhost:5432/tornado_db")

In [32]:
#LOAD DATA INTO POSTGRESQL
tornado_clean.to_sql(name='tornado_db', con=engine, if_exists='replace', index=True)

In [33]:
with engine.connect() as con:
    con.execute('ALTER TABLE tornado_db ADD PRIMARY KEY (index);')

In [34]:
#TEST/CALL ENGINE TABLE NAMES
engine.table_names()

['losses', 'tornado_db']

In [32]:
# #CREATE ENGINE
# engine = create_engine(f"postgres://ouvitqtn:{sqlpassword}@queenie.db.elephantsql.com:5432/ouvitqtn")

In [33]:
# #LOAD DATA INTO POSTGRESQL
# tornado_clean.to_sql(name='tornado_db', con=engine, if_exists='append', index=False)

In [34]:
# #TEST/CALL ENGINE TABLE NAMES
# engine.table_names()

In [35]:
# db_conn = psycopg2.connect(database="ouvitqtn", user="ouvitqtn", password=f"{sqlpassword}", host="queenie.db.elephantsql.com", port="5432")
# db_cursor = db_conn.cursor()
# db_cursor.execute("SELECT * FROM tornado_db")
# tornado_table = db_cursor.fetchall()