In [1]:
import pandas as pd

In [2]:
file = "Resources/1950-2019_torn.csv"
tornado_data = pd.read_csv(file)

In [3]:
pd.set_option('display.max_rows', 5000)

In [4]:
list(tornado_data.columns)

['om',
 'yr',
 'mo',
 'dy',
 'date',
 'time',
 'tz',
 'st',
 'stf',
 'stn',
 'mag',
 'inj',
 'fat',
 'loss',
 'closs',
 'slat',
 'slon',
 'elat',
 'elon',
 'len',
 'wid',
 'ns',
 'sn',
 'sg',
 'f1',
 'f2',
 'f3',
 'f4',
 'fc']

In [5]:
tornado_df = tornado_data[[
    "om",
    "yr",
    "mo",
    "st",
    "mag",
    "inj",
    "fat",
    "loss",
    "slat",
    "slon",
    "len",
    "wid",
    "ns",
    "sn",
    "sg"
]]

In [6]:
tornado_df = tornado_df.rename(columns={
    "om":"tornado_num",
    "yr":"year",
    "mo":"month",
    "st":"state",
    "mag":"magnitude",
    "inj":"injury",
    "fat":"fatalities",
    "loss":"loss",
    "slat":"latitude",
    "slon":"longitude",
    "len":"miles_traveled",
    "wid":"width_yards",
    "ns":"num_states_affected",
    "sn":"state_num",
    "sg":"segment_num"
})

In [7]:
tornado_df

,tornado_num,year,month,state,magnitude,injury,fatalities,loss,latitude,longitude,miles_traveled,width_yards,num_states_affected,state_num,segment_num
0,1,1950,1,MO,3,3,0,6.0,38.7700,-90.2200,9.50,150,2,0,1
1,1,1950,1,MO,3,3,0,6.0,38.7700,-90.2200,6.20,150,2,1,2
2,1,1950,1,IL,3,0,0,5.0,38.8200,-90.1200,3.30,100,2,1,2
3,2,1950,1,IL,3,3,0,5.0,39.1000,-89.3000,3.60,130,1,1,1
4,3,1950,1,OH,1,1,0,4.0,40.8800,-84.5800,0.10,10,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66383,618537,2019,12,MS,1,0,0,75000.0,33.1628,-89.4323,7.70,900,1,1,1
66384,618538,2019,12,MS,1,0,0,10000.0,33.2598,-89.2778,3.82,200,1,1,1
66385,618539,2019,12,MS,0,0,0,5000.0,33.4720,-89.0315,2.61,200,1,1,1
66386,618540,2019,12,MS,1,0,0,150000.0,32.5268,-89.1628,3.23,125,1,1,1
66387,618541,2019,12,AL,0,0,0,0.0,34.7541,-87.0777,5.07,50,1,1,1

In [8]:
# Check that all loss values are integers by filtered years
less1996 = tornado_df.loc[(tornado_df["year"] < 1996)]
less1996 = less1996[["year", "loss"]]
less1996.loss.apply(float.is_integer).all()

True

In [9]:
tornado_df[["year","loss"]].describe()

               year          loss
count  66388.000000  6.638800e+04
mean    1990.307616  7.007128e+04
std       18.875692  6.752775e+06
min     1950.000000  0.000000e+00
25%     1975.000000  0.000000e+00
50%     1993.000000  1.000000e-01
75%     2006.000000  4.000000e+00
max     2019.000000  1.550000e+09

In [10]:
less1996[["year","loss"]].describe()

               year          loss
count  36003.000000  36003.000000
mean    1975.842124      2.780852
std       12.640740      2.086679
min     1950.000000      0.000000
25%     1965.000000      0.000000
50%     1976.000000      3.000000
75%     1987.000000      4.000000
max     1995.000000      8.000000

In [11]:
_1996_2015 = tornado_df.loc[(tornado_df["year"] >= 1996)&(tornado_df["year"] <= 2015)]
_1996_2015[["year","loss"]].describe()

               year          loss
count  25214.000000  25214.000000
mean    2005.358531      1.403647
std        5.587930     32.448613
min     1996.000000      0.000000
25%     2001.000000      0.000000
50%     2005.000000      0.000000
75%     2010.000000      0.050000
max     2015.000000   2800.100000

In [12]:
greater2016 = tornado_df.loc[(tornado_df["year"] >= 2016)]
greater2016[["year","loss"]].describe()

              year          loss
count  5171.000000  5.171000e+03
mean   2017.634500  8.995854e+05
std       1.104344  2.418252e+07
min    2016.000000  0.000000e+00
25%    2017.000000  0.000000e+00
50%    2018.000000  1.000000e+03
75%    2019.000000  5.000000e+04
max    2019.000000  1.550000e+09

In [13]:
less1996.year.count()+_1996_2015.year.count()+greater2016.year.count()

66388

In [14]:
_1996_2015["loss"] = _1996_2015["loss"] * 1000000
_1996_2015.max()

<ipython-input-14-dae226134a72>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _1996_2015["loss"] = _1996_2015["loss"] * 1000000

tornado_num                613494
year                         2015
month                          12
state                          WY
magnitude                       5
injury                       1500
fatalities                    158
loss                   2.8001e+09
latitude                    61.02
longitude                       0
miles_traveled             148.97
width_yards                  4576
num_states_affected             3
state_num                       1
segment_num                     2
dtype: object

In [15]:
_1996_2015.sort_values("loss", ascending=False)

,tornado_num,year,month,state,magnitude,injury,fatalities,loss,latitude,longitude,miles_traveled,width_yards,num_states_affected,state_num,segment_num
56503,296616,2011,5,MO,5,1150,158,2.800100e+09,37.0524,-94.5932,21.62,1600,1,1,1
56249,314625,2011,4,AL,4,1500,64,2.450000e+09,33.0297,-87.9350,80.68,2600,1,1,1
58474,451537,2013,5,OK,5,212,24,2.000000e+09,35.2840,-97.6280,13.85,1900,1,1,1
56222,309488,2011,4,AL,5,145,72,1.290000e+09,34.1043,-88.1479,132.00,2200,2,0,1
56223,309488,2011,4,AL,5,145,72,1.290000e+09,34.1043,-88.1479,118.63,2200,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40769,475,1999,6,WY,0,0,0,0.000000e+00,43.5700,-105.6800,16.30,0,1,1,1
40768,1296,1999,6,WY,0,0,0,0.000000e+00,43.7200,-105.9000,12.00,400,1,1,1
40767,516,1999,6,IL,0,0,0,0.000000e+00,40.5300,-87.6700,0.20,30,1,1,1
40766,593,1999,6,IL,0,0,0,0.000000e+00,41.6700,-89.9200,0.10,10,1,1,1
52043,829,2008,5,KS,0,0,0,0.000000e+00,38.5000,-101.4000,0.50,25,1,1,1

In [16]:
_1996_2019 = pd.concat([_1996_2015,greater2016], ignore_index=True)
_1996_2019[["year","loss"]].describe()

               year          loss
count  30385.000000  3.038500e+04
mean    2007.447688  1.317864e+06
std        6.884832  3.119713e+07
min     1996.000000  0.000000e+00
25%     2002.000000  0.000000e+00
50%     2008.000000  0.000000e+00
75%     2013.000000  5.000000e+04
max     2019.000000  2.800100e+09

In [17]:
bins_1996_2019 = _1996_2019
bins_1996_2019

,tornado_num,year,month,state,magnitude,injury,fatalities,loss,latitude,longitude,miles_traveled,width_yards,num_states_affected,state_num,segment_num
0,1,1996,1,FL,0,0,0,40000.0,28.0800,-80.6000,0.50,35,1,1,1
1,859,1996,1,SC,0,0,0,30000.0,33.5000,-80.8700,0.50,50,1,1,1
2,860,1996,1,SC,0,0,0,0.0,33.5000,-80.8500,0.30,50,1,1,1
3,4,1996,1,FL,1,9,0,1200000.0,25.6800,-80.4200,7.00,40,1,1,1
4,5,1996,1,FL,0,0,0,100000.0,26.0000,-80.2300,0.40,10,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30380,618537,2019,12,MS,1,0,0,75000.0,33.1628,-89.4323,7.70,900,1,1,1
30381,618538,2019,12,MS,1,0,0,10000.0,33.2598,-89.2778,3.82,200,1,1,1
30382,618539,2019,12,MS,0,0,0,5000.0,33.4720,-89.0315,2.61,200,1,1,1
30383,618540,2019,12,MS,1,0,0,150000.0,32.5268,-89.1628,3.23,125,1,1,1
30384,618541,2019,12,AL,0,0,0,0.0,34.7541,-87.0777,5.07,50,1,1,1

In [18]:
# bin values >1996 & assign to 1996 damage value scale
bins = [0,1,50,500,5000,50000,500000,5000000,50000000,500000000,5000000000]
labels = [0,1,2,3,4,5,6,7,8,9]
bins_1996_2019["loss"] = pd.cut(bins_1996_2019["loss"],include_lowest=True,right=False, bins=bins, labels=labels)
bins_1996_2019

,tornado_num,year,month,state,magnitude,injury,fatalities,loss,latitude,longitude,miles_traveled,width_yards,num_states_affected,state_num,segment_num
0,1,1996,1,FL,0,0,0,4,28.0800,-80.6000,0.50,35,1,1,1
1,859,1996,1,SC,0,0,0,4,33.5000,-80.8700,0.50,50,1,1,1
2,860,1996,1,SC,0,0,0,0,33.5000,-80.8500,0.30,50,1,1,1
3,4,1996,1,FL,1,9,0,6,25.6800,-80.4200,7.00,40,1,1,1
4,5,1996,1,FL,0,0,0,5,26.0000,-80.2300,0.40,10,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30380,618537,2019,12,MS,1,0,0,5,33.1628,-89.4323,7.70,900,1,1,1
30381,618538,2019,12,MS,1,0,0,4,33.2598,-89.2778,3.82,200,1,1,1
30382,618539,2019,12,MS,0,0,0,4,33.4720,-89.0315,2.61,200,1,1,1
30383,618540,2019,12,MS,1,0,0,5,32.5268,-89.1628,3.23,125,1,1,1
30384,618541,2019,12,AL,0,0,0,0,34.7541,-87.0777,5.07,50,1,1,1

In [19]:
formated_loss = pd.concat([bins_1996_2019,less1996])
formated_loss.loss.describe()

count    66388.000000
mean         2.584895
std          2.272099
min          0.000000
25%          0.000000
50%          3.000000
75%          5.000000
max          9.000000
Name: loss, dtype: float64

In [20]:
formated_loss

,tornado_num,year,month,state,magnitude,injury,fatalities,loss,latitude,longitude,miles_traveled,width_yards,num_states_affected,state_num,segment_num
0,1.0,1996,1.0,FL,0.0,0.0,0.0,4.0,28.08,-80.60,0.5,35.0,1.0,1.0,1.0
1,859.0,1996,1.0,SC,0.0,0.0,0.0,4.0,33.50,-80.87,0.5,50.0,1.0,1.0,1.0
2,860.0,1996,1.0,SC,0.0,0.0,0.0,0.0,33.50,-80.85,0.3,50.0,1.0,1.0,1.0
3,4.0,1996,1.0,FL,1.0,9.0,0.0,6.0,25.68,-80.42,7.0,40.0,1.0,1.0,1.0
4,5.0,1996,1.0,FL,0.0,0.0,0.0,5.0,26.00,-80.23,0.4,10.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35998,NaN,1995,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35999,NaN,1995,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36000,NaN,1995,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36001,NaN,1995,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36002,NaN,1995,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN